Welcome!
<table>
  <tr>
    <th>Nazwa ciasta</th>
    <th>Zdjęcie</th>
    <th>Rodzaj ciasta</th>
    <th>Przepis</th>
    <th>Usuń ciasto</th>
  </tr>
  <%= render partial: "cake", collection: @cakes %>
</table>
<p><button><%= link_to "Dodaj ciasto", new_cake_path %></button></p>