development:
  adapter: postgresql
  encoding: unicode
  database: cake_master_development
  pool: 5
  username:
  password:

test: &TEST
  adapter: postgresql
  encoding: unicode
  database: cake_master_test
  pool: 5
  username:
  password:
