<h1>Editing Cake Attachment</h1>

<%= render 'form' %>

<%= link_to 'Show', @cake_attachment %> |
<%= link_to 'Delete', @cake_attachment, method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to 'Back', cake_attachments_path %>
